header{
  //position: fixed;
  z-index: 2000;
  width: 100%;
}

footer
  background-color: bgColor;
  display: flex;
  align-items: center;
  justify-content: center;
  p
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: .5em 2em
