#quote
  height: 25vh
  background: bgColor
  display: flex;
  justify-content: center;
  align-items: center;
  color: textColor;
  padding: 0

  .title
    text-align: center;
    margin-bottom: 0;
