#quote
  height: 35vh
  background: bgColor
  display: flex;
  justify-content: center;
  align-items: center;
  color: textColor;
  padding: 0
  +above('m')
      height: 25vh

  .title
    text-align: center;
    margin-bottom: 0;
