/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

//COLORS
bgColor = #d9d9d9
bgColor2= white
textColor = #7d7d7d;
mariGreen = #00b397;
mariOrange = #f4763b;

@font-face
  font-family: 'jenna_sueregular';
  src: url('../fonts/jennasue-webfont.eot');
  src: url('../fonts/jennasue-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/jennasue-webfont.woff') format('woff'),
       url('../fonts/jennasue-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;


@import url("//fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

@font-face
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');

.material-icons
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

html
  font-family 'Roboto', normal;
  font-size: 100%

.title, .subtitle
  font-family: 'jenna_sueregular';
  font-weight: 100;
  margin-top: 0

.subtitle
  font-size: 2em
  +between('m', 'l')
    font-size: 2.5em
  +at('l')
    font-size: 3em
  +above('xl')
    font-size: 4em
  &--orange
    color: mariOrange
  &--basic
    font-family 'Roboto', normal;
    font-size: 1em

.title
  font-size: 2.6em
  +above('m')
    font-size: 6em
  &--right
    text-align: right;

[layout=row]
  flex-direction row

section
  padding: 2em

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
