#education
  background: bgColor2;
  height: auto
  +above('l')
    background: bgColor2 url('../assets/images/drawing_2.jpg') left center no-repeat;
    background-size: contain;
  h1
    color: textColor
  timeline-panel
    border-bottom: mariOrange 5px solid;
    +below('m')
      &.bounce-in
        opacity:1;  /* make things invisible upon start */
        animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */



timeline-badge
  &.education
    background-color: mariGreen
  for $i in 2..4
    &.education-{$i}
      background-color: lighten(mariGreen, ($i*4))
  +below('m')
    &.bounce-in
      opacity:1;  /* make things invisible upon start */
      animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */


timeline-event
  +above('l')
    for $i in 2..4
      &.education-{$i} > li
        margin-top: ($i*-1em)
