#skills
  background: bgColor2;
  height: auto
  +above('m')
    background: bgColor2 url('../assets/images/drawing.jpg') left top no-repeat;
    background-size: contain;
  h1
    color: textColor

.lang_container
  position: relative;
  .lang--text
    position: absolute;
    top: calc(50% - .60em)
    left: calc(50% - .50em)
    color: textColor
    text-transform: uppercase;
    font-size: 1em
    +above('m')
      font-size: 1.5em

@-moz-document url-prefix()
  .lang_container
    width: 150px
    height: 150px


.skills
  &__box
    display: flex;
    flex-wrap: wrap;
    margin: auto
  &__card
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: .8em;
    padding: 1.5em;
    flex:auto;
    +above('l')
      flex: 1
    &--lang
      display: flex;
      flex-flow: row wrap;
      justify-content:center;
      +above('m')
        flex-flow: row nowrap;
        justify-content:space-around;
        align-items:baseline;
    &--pers
      text-align: center;
      margin-top: 1em;

.title--noflex
    flex: 0.5 0 0%;

.tech_skills
  &__container
    width: 100%
    display: flex;
    flex-flow: column wrap;
    justify-content:space-around;
    align-items:center;
    +above('m')
      flex-flow: row wrap;
      align-items: baseline;
  &__block
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
    +above('l')
      max-width: 33%
    &--row
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 1em


/////meter and piechart customization
.meter-inner-element
  height: 1em;
  width: 9em
  border: none
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  vertical-align: -0.2em;
  -webkit-user-modify: read-only;

  .meter-bar
    border: none
    background: none;
    background-color:#cccccc;
    height: .5em;
    width: 9em
    box-sizing: border-box;
    -webkit-user-modify: read-only;

    .meter-optimum-value
      background: none;
      background-color: mariGreen;
      max-width: 100%;
      width: 0;
      height: 100%;
      box-sizing: border-box;
      -webkit-user-modify: read-only;
      &.width-95
        width: 95%
      &.width-80
        width: 80%
      &.width-60
        width: 60%
      &.width-30
        width: 30%




/*# sourceMappingURL=angular-meter-polyfill.css.map*/


.piechart-svg
  height: 50%;
  width: 50%;
  +above('m')
    height: 100%;
    width: 100%;
  circle
    stroke-width: 1.5px
  .piechart-wheel
    stroke: #cccccc;
  .piechart-value
    stroke: mariGreen;
    transition-delay: 5s;
