<h1 class="title title--right">What can I do?</h1>

<md-card class="tech_skills__card skills__card timeline-hidden" when-visible="sk.animateElementIn" device-detector>
  <div class="tech_skills__container">
    <div class="tech_skills__block">
      <div class="tech_skills__block--row">
        <h2 class="subtitle subtitle--orange">Technical stuff</h2>
      </div>
      <div class="tech_skills__block--row">
        <div class="meter-inner-element">
          <div class="meter-bar">
            <div class="meter-optimum-value width-95"></div>
        </div>
      </div>
        <label>HTML5 - CSS3 - Sass - Webstorm/Atom</label>
      </div>
      <div class="tech_skills__block--row">
        <div class="meter-inner-element">
          <div class="meter-bar">
            <div class="meter-optimum-value width-80"></div>
        </div>
      </div>
        <label>Git - Gulp - jQuery - JS</label>
      </div>
      <div class="tech_skills__block--row">
        <div class="meter-inner-element">
          <div class="meter-bar">
            <div class="meter-optimum-value width-30"></div>
        </div>
      </div>
        <label>NodeJs - AngularJs - Mongodb</label>
      </div>
    </div>
    <div class="tech_skills__block">
      <div class="tech_skills__block--row">
        <h2 class="subtitle subtitle--orange subtitle--margin">Design & graphics</h2>
      </div>
      <div class="tech_skills__block--row">
        <div class="meter-inner-element">
          <div class="meter-bar">
            <div class="meter-optimum-value width-80"></div>
        </div>
      </div>
        <label>Photoshop - Illustrator - Balsamiq - SVG - RWD - Material Design - Bootstrap - Foundation</label>
      </div>
      <div class="tech_skills__block--row">
        <div class="meter-inner-element">
          <div class="meter-bar">
            <div class="meter-optimum-value width-60"></div>
        </div>
      </div>
        <label>video editing - premiere - motion design - after effects</label>
      </div>
    </div>
    <div class="tech_skills__block">
      <div class="tech_skills__block--row">
        <h2 class="subtitle subtitle--orange subtitle--margin">Communication</h2>
      </div>
      <div class="tech_skills__block--row">
        <div class="meter-inner-element">
          <div class="meter-bar">
            <div class="meter-optimum-value width-60"></div>
        </div>
      </div>
        <label>UX design - Ergonomy and Usability</label>
      </div>
    </div>
  </div>
</md-card>

<div class="skills__box">
  <md-card class="skills__card timeline-hidden" when-visible="sk.animateElementIn">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline subtitle subtitle--orange">Talk with me</span>
      </md-card-title-text>
    </md-card-title>
    <div class="skills__card--lang">
      <div class="lang_container">
        <donutchart value="101"></donutchart>
        <label class="lang--text">IT</label>
      </div>
      <div class="lang_container">
        <donutchart value="90"></donutchart>
        <label class="lang--text">EN</label>
      </div>
      <div class="lang_container">
        <donutchart value="80"></donutchart>
        <label class="lang--text">FR</label>
      </div>
    </div>
  </md-card>
  <md-card class="skills__card timeline-hidden" when-visible="sk.animateElementIn">
    <md-card-title  class="title--noflex">
      <md-card-title-text>
        <span class="md-headline subtitle subtitle--orange">Personal skills</span>
      </md-card-title-text>
    </md-card-title>
    <div class="skills__card--pers">
      <label>creativity - team worker - fast learner - flexibility - can do attitude - problem solving - adaptability - desire to learn - detail oriented - pixel picky</label>
    </div>
  </md-card>
</div>
