<h1 class="title title--right">What can I do?</h1>

<md-card class="tech_skills__card skills__card">
  <div class="tech_skills__container">
    <div class="tech_skills__block">
      <h2 class="subtitle subtitle--orange">Technical stuff</h2>
      <div class="tech_skills__block--row">
        <meter value="0.95">95%</meter>
        <label>html5 - css3 - sass - webstorm</label>
      </div>
      <div class="tech_skills__block--row">
        <meter value="0.8">80%</meter>
        <label>git - gulp - jquery - js</label>
      </div>
      <div class="tech_skills__block--row">
        <meter value="0.3">30%</meter>
        <label>nodejs - java - sql - mongodb</label>
      </div>
    </div>
    <div class="tech_skills__block">
      <h2 class="subtitle subtitle--orange">Design & graphics</h2>
      <div class="tech_skills__block--row">
        <meter value="0.8">80%</meter>
        <label>photoshop - illustrator - balsamiq</label>
        <label>svg - responsive - material design</label>
        <label>bootstrap - foundation</label>
      </div>
      <div class="tech_skills__block--row">
        <meter value="0.6">60%</meter>
        <label>video editing - premiere</label>
        <label>motion design - after effects</label>
      </div>
    </div>
    <div class="tech_skills__block">
      <h2 class="subtitle subtitle--orange">Communication skills</h2>
      <div class="tech_skills__block--row">
        <meter value="0.6">60%</meter>
        <label>ux design - ergonomy and usability</label>
      </div>
    </div>
  </div>
</md-card>

<div class="skills__box">
  <md-card class="skills__card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline subtitle subtitle--orange">Talk with me</span>
      </md-card-title-text>
    </md-card-title>
    <div class="skills__card--lang">
      <div class="lang_container">
        <donutchart value="101"></donutchart>
        <label class="lang--text">IT</label>
      </div>
      <div class="lang_container">
        <donutchart value="90"></donutchart>
        <label class="lang--text">EN</label>
      </div>
      <div class="lang_container">
        <donutchart value="80"></donutchart>
        <label class="lang--text">FR</label>
      </div>
    </div>
  </md-card>
  <md-card class="skills__card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline subtitle subtitle--orange">Personal skills</span>
      </md-card-title-text>
    </md-card-title>
    <div class="skills__card--pers">
      <p>creativity - team worker - fast learner - flexibility</p>
      <p>can do attitude - problem solving - adaptability</p>
      <p>desire to learn - detail oriented - pixel picky</p>
    </div>
  </md-card>
</div>
