#presentation
  background: bgColor;


md-icon.md-default-theme, md-icon
  color: mariOrange;
  width: 2em;
  height: 2em;

.presentation__container
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;


.presentation
  &__idCard
    +between('m', 'l')
      flex:  0 1 40%
    +at('l')
      flex: 0 1 45%
    +above('xl')
      flex: 0 1 25%

  &__about
    +above('m')
      flex:  0 1 40%
    &--interests
      display: flex;
      justify-content: space-around;
      align-items: center;

      .interest
        font-size: 2.5em

.id_card
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  +above('m')
    justify-content: space-around;

  &__row
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    +above('m')
      justify-content: space-between;
      width: 100%


  &__half
      width: 100%;
      text-align: center;
      +above('l')
        flex: 0 1 50%
        text-align: left;
      &--icon
        display: flex;
        justify-content: center;
        +above('m')
          text-align: center;

.material-icons
  color: mariGreen;
