<div class="presentation__container">
  <md-card class="presentation__idCard">
    <img ng-src="{{pr.imagePath}}" class="md-card-image" alt="Mariella Sabatino picture">
    <md-card-content>
      <div class="id_card">
        <div class="id_card__row">
          <div class="id_card__half id_card__half--icon">
            <i class="material-icons">cake</i>
          </div>
          <div class="id_card__half">
            <h4>28 / 12 / 1989</h4>
          </div>
        </div>
        <div class="id_card__row">
          <div class="id_card__half id_card__half--icon">
            <i class="material-icons">place</i>
          </div>
          <div class="id_card__half">
            <h4>Nice, France</h4>
          </div>
        </div>
        <div class="id_card__row">
          <div class="id_card__half id_card__half--icon">
            <a href="mailto:mll.sabatino@gmail.com" target="_blank"><i class="material-icons">email</i></a>
          </div>
          <div class="id_card__half">
            <h4><a href="mailto:mll.sabatino@gmail.com" target="_blank">mll.sabatino@gmail.com</a></h4>
          </div>
        </div>
        <div class="id_card__row">
          <div class="id_card__half id_card__half--icon">
            <a href="tel:0033665132555"><i class="material-icons">phone_android</i></a>
          </div>
          <div class="id_card__half">
            <h4><a href="tel:0033665132555">+33 (0) 6 65 13 25 55</a></h4>
          </div>
        </div>
      </div>
    </md-card-content>

    <md-card-actions layout="row" layout-align="center">
      <md-button href="https://github.com/MarSab" target="_blank" class="md-icon-button social_logo" aria-label="github">
        <md-icon md-svg-icon="../assets/images/social/github-logo.svg"></md-icon>
      </md-button>
      <md-button href="https://www.linkedin.com/in/mariellasabatino" target="_blank" class="md-icon-button social_logo" aria-label="linkedin">
        <md-icon md-svg-icon="../assets/images/social/linkedin.svg"></md-icon>
      </md-button>
      <md-button href="https://www.instagram.com/marsab8/" target="_blank" class="md-icon-button social_logo" aria-label="instagram">
        <md-icon md-svg-icon="../assets/images/social/instagram.svg"></md-icon>
      </md-button>
      <md-button href="http://www.slideshare.net/MariellaSabatino" target="_blank" class="md-icon-button social_logo" aria-label="Slideshare">
        <md-icon md-svg-icon="../assets/images/social/slideshare-logo.svg"></md-icon>
      </md-button>
    </md-card-actions>
  </md-card>

  <div class="presentation__about">
    <h3 class="subtitle subtitle--orange subtitle--margin">Who am I?</h3>

    <p>

Strongly passionate of User Interaction and User Interfaces and pixel perfection, I love to
design and build Web applications using Responsive Web Design, that fit
perfect on any device. I always try to find the best and most durable solution.
Speaking three languages, I love to work in an international environment. After my Erasmus
experience, I have learnt the importance of that as a personal
and professional growth engine.
</p>

    <h3 class="subtitle subtitle--orange">my interests?</h3>
    <div class="presentation__about--interests">
      <i class="material-icons interest">camera_alt
        <md-tooltip>Photography</md-tooltip>
      </i>
      <i class="material-icons interest">airplanemode_active
          <md-tooltip>Travel</md-tooltip>
        </i>
      <i class="material-icons interest">directions_run
          <md-tooltip>Sport</md-tooltip></i>
      <i class="material-icons interest">restaurant_menu
          <md-tooltip>Cook</md-tooltip></i>
    </div>
  </div>
</div>
