<div class="presentation__container">
  <md-card class="presentation__idCard">
    <img ng-src="{{pr.imagePath}}" class="md-card-image" alt="Mariella Sabatino picture">
    <md-card-content>
      <div class="id_card">
        <div class="id_card__row">
          <div class="id_card__half id_card__half--icon">
            <i class="material-icons">cake</i>
          </div>
          <div class="id_card__half">
            <h4>28 / 12 / 1989</h4>
          </div>
        </div>
        <div class="id_card__row">
          <div class="id_card__half id_card__half--icon">
            <i class="material-icons">place</i>
          </div>
          <div class="id_card__half">
            <h4>Nice, France</h4>
          </div>
        </div>
        <div class="id_card__row">
          <div class="id_card__half id_card__half--icon">
            <i class="material-icons">email</i>
          </div>
          <div class="id_card__half">
            <h4>mll.sabatino@gmail.com</h4>
          </div>
        </div>
        <div class="id_card__row">
          <div class="id_card__half id_card__half--icon">
            <i class="material-icons">phone_android</i>
          </div>
          <div class="id_card__half">
            <h4>+33 (0) 6 65 13 25 55</h4>
          </div>
        </div>
      </div>

    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share">
        <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
      </md-button>
    </md-card-actions>
  </md-card>

  <div class="presentation__about">
    <h3 class="subtitle subtitle--orange">Who am I?</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <h3 class="subtitle subtitle--orange">my interests?</h3>
    <i class="material-icons">camera_alt</i>
    <i class="material-icons">airplanemode_active</i>
    <i class="material-icons">fitness_center</i>
    <i class="material-icons">restaurant_menu</i>
  </div>
</div>
